#inputPanel {
	width: 90%;
	display: block;
	margin-bottom: 2ex;
}
#graphUrl {
	width: 90%;
}
#graphText {
	width: 90%;
	height: 30ex;
}

svg {
  overflow: hidden;
}
.node rect {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #fff;
}
.edgeLabel rect {
  fill: #fff;
}
.edgePath {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}
